doctype html
head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
body.container
    h3="Edit your info"
    form#form(action="/modify/"+listid, method="POST")
        div.form-group
            label="Name"
            input.form-control(type="text", name="name" value=name)
            label="Email"
            input.form-control(type="text", name="email" value=email)
            label="Hours"
            input.form-control(type="text", name="hours" value=hours)
            input#listid.form-control(type="hidden", name="listid", value=listid)

            button.btn-btn-primary(type="submit") Save changes
            